<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list radio-group [(ngModel)]="wellness">
            <ion-item *ngFor="let key of wellnessData">
              <ion-label>{{key}}</ion-label>
              <ion-radio [value]="key"></ion-radio>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let data of wellnessScreenData">
      <ion-col>
          <ion-item text-wrap>
            {{data}}
          </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button block (click)="triggerHumanAPIAuthentication()">Connect to humanapi</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button block (click)="getWellnessData()">Get {{wellness}} Data</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <button ion-button block (click)="resetHumanAPITokens()">Reset tokens</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
